.navbar {
  background-color: rgb(233, 225, 217);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}
.btnList {
  font-size: 20px;
  width: 90%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 70px;
  margin: 0;
  height: 100px;
  gap: 30px;
}
.list {
  height: 50px;
}

.a-link {
  height: 100%;
  padding: 0 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}
.signInBtn {
  height: 100%;
  padding: 0 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: rgb(5, 5, 5);
  background-color: rgb(243, 247, 247);
  border: 2px solid black;
  border-radius: 20px;
}
.signInBtn:hover {
  background-color: #d3e4f7;
  color: rgb(15, 13, 13);
}

.signInBtn:active {
  transform: scale(0.95);
}

.signUpBtn {
  height: 100%;
  padding: 0 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: rgb(253, 251, 251);
  background-color: rgb(2, 2, 2);
  border: 2px solid rgb(148, 146, 146);
  border-radius: 20px;
}
.signUpBtn:hover {
  background-color: #d3e4f7;
  color: rgb(15, 13, 13);
}

.signUpBtn:active {
  transform: scale(0.95);
}

.a-link:hover {
  background-color: seashell;
}
.list:first-child {
  margin-right: auto;
}

.Sidebtnlist {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 200px;
  z-index: 999;
  background-color: rgba(253, 250, 250, 0.5);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.2);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 60px;
}
.Sidebtnlist.hide {
  display: none;
}

.Sidebtnlist.show {
  display: flex;
}

.Sidelist {
  list-style: none;
  margin: 15px 0;
}

.Side-a-link {
  text-decoration: none;
  color: black;
  padding: 10px;
  font-size: 20px;
  transition: background-color 0.3s;
}

.Side-a-link:hover {
  background-color: #f1f1f1; /* Change background color on hover */
}
.menu {
  display: none;
}

@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }
  .menu {
    display: block;
  }
}
@media (max-width: 400px) {
  .Sidebtnlist {
    width: 100%;
    align-items: center;
  }
}

.homeIcon {
  width: 100%;
  height: 130px;
}
