.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(51, 51, 50, 0.692);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.contianerBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(242, 245, 242);
  z-index: 999;
  width: 600px;
  height: 600px;
}

.closeBtn {
  position: absolute;
  top: 5px;
  right: 10px;
  border: none;
  background: transparent;
  color: rgb(6, 7, 7);
  font-size: 30px;
  font-weight: lighter;
  cursor: pointer;
  z-index: 999;
}

.inputBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 2.7rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.subTitle {
  font-size: 1rem;
  margin-bottom: 20px;
}
.textInput {
  margin-bottom: 15px;
}
.textInput2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}
.textBox1 {
  margin-left: 5px;
  margin-bottom: 5px;
  padding: 5px;
}
.textBox2 {
  width: 300px;
  margin-bottom: 10px;
  padding: 5px;
  height: 30px;
}
.submitBtn {
  width: 300px;
  background-color: #2866a5;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.submitBtn:hover {
  background-color: #b1d5fc;
  color: rgb(15, 13, 13);
}

.submitBtn:active {
  transform: scale(0.95);
}

.submitBtn:disabled {
  background-color: rgb(202, 145, 145);
  cursor: not-allowed;
}

.icon {
  width: 40px;
  height: 40px;
}

.gmailBtn {
  width: 300px;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 60px;
  font-weight: bold;
  padding: 10px;
  background-color: #b7b7c5;
  color: rgb(19, 18, 18);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 50px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.gmailBtn:hover {
  background-color: #b1d5fc;
  color: rgb(15, 13, 13);
}

.gmailBtn:active {
  transform: scale(0.95);
}

.gmailBtn:disabled {
  background-color: rgb(202, 145, 145);
  cursor: not-allowed;
}

@media (max-width: 520px) {
  .contianerBox {
    width: 300px;
    height: auto;
  }
}
.reset {
  margin-top: 35px;
}
